.doc-viewer {
  position: absolute;
  top: 50px;
  right: 100px;
  bottom: 50px;
  left: 100px;
  background: #fff;
}

.doc-viewer__mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background: rgba(0,0,0,.4);
}

// ...其他样式...
